<form>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Question</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="8"></textarea>
    </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Answer 1</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="2"></textarea>
    </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Answer 2</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="2"></textarea>
    </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Answer 3</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="2"></textarea>
    </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Answer 4</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="2"></textarea>
    </div>
  </form>
